{% extends 'music/base.html' %}
{% block title %}Nyan Details{% endblock %}

{% block body %}

    <div class="container">

        <div class="row-fluid">

            <!-- Left Section -->
            <div class="col-md-3" >
                <div class="thumbnail">

                    <!--Album Logo-->
                    <img src="{{ album.album_logo.url }}" class="img-responsive" style="padding:10px">
                    <!-- Album Title -->
                    <h2 style="margin-left:20px">{{ album.album_title }} <br>
                        <small> {{ album.artist }}</small>
                    </h2>

                    <!-- Album Artist -->
                    <p class="text-muted small text-right"  style="margin-right:10px">{{ album.genre }}</p>
                </div> 

            </div>

            <!-- Right Section -->
            <div class="col-md-9" style="height:50px">
                
                <div class="row">
                    <a href="#" class="btn btn-primary" class="responsive" role="button">View All</a> 
                    <a href="{% url 'music:song-add' %}" class="responsive" style="text-decoration:none; margin-left:15px">Add New Song</a>
                </div>
                <div class="row thumbnail" style="margin-top:20px ; padding-left:20px; padding-right:20px">
                    <h2>Condensed Table</h2>
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Audio File</th>
                                <th>Favorite</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for song in album.song_set.all %}
                                <tr>
                                    <td>{{ song.song_title }}</td>
                                    <td>{{ song.file_type }}</td>
                                    <td>{% if song.is_favourite %}
                                            <img src="http://icons.veryicon.com/ico/System/Led/star%201.ico"/>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!-- Delete -->
                                        <form action="{% url 'music:song-delete' song.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}