{% extends 'music/base.html' %}
{% block title %}Nyan Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}" style="width: 250px;">

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <!--
    Url : url is where to send this form when submit
    method : what method did this form use to submit this form
    -->
    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favourite %}
            <img src="http://icons.veryicon.com/ico/System/Led/star%201.ico">
            {% endif %}
        </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}
